<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>

$(function() {
    window.setInterval(function() {
        loadNewDecimal()
    },100)
})


function loadNewDecimal() {
    $.ajax({
        url:'/_get_current_user',
        type:'GET',
      
        success:function(data){
            console.log(data);
            document.getElementById('random_decimal').innerText=data   
        }
    })
}
</script>

<div id="random_decimal">
    {{x}}
</div>