<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hoş Geldiniz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href="/static/stil.css" rel="stylesheet">
	<style>
      @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');
    </style>
</head>
<body>
	

	
<div class="sidenav">
	<div class="login-main-text">
	   <h2>Uygulama<br> Giriş sayfası</h2>
	   <p>Giriş veya kayıt olabilirsin.</p>
	   
	</div>
 </div>
 <div class="main">
	<div class="col-md-6 col-sm-12">
		
		<div style="height: 250px; width: 20%;">

		</div>
		<h1 class="text-center">Gelişmiş Araba Takip Sistemi</h1>
	
		   
		  <form action="{{ url_for('home') }}" method="post">
			 <div class="form-group">
				<label>Kullanıcı adı</label>
				<input type="text" class="form-control" placeholder="Kullanıcı Adınız" name="username">
			 </div>
			 <div class="form-group">
				<label>Şifre</label>
				<input type="password" class="form-control" placeholder="Şifre" name="password">
			 </div>
			 <button id="ozel" type="submit" class="btn btn-black">Giriş</button>
			 <button id="ozel2" type="submit" class="btn btn-secondary"><a href=" {{ url_for('kayit_ol') }}">Kayıt ol</a></button>
		  </form>
	  
	</div>
 </div>


<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>




{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
<script>
  alert('{{ message }}');
</script>
	
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

</body>
</html>