
    var map;
    var markers = [];
  
    function initMap() {
      var haightAshbury = {lat: 37.769, lng: -122.446};
  
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: haightAshbury,
        mapTypeId: 'terrain'
      });
  
      // This event listener will call addMarker() when the map is clicked.
      map.addListener('click', function(event) {
        addMarker(event.latLng);
      });
   // Adds a marker at the center of the map.
    addMarker(haightAshbury);
  }

   // Adds a marker to the map and push to the array.
  function addMarker(location) {
    var marker = new google.maps.Marker({
      position: location,
      map: map
    });
    markers.push(marker);
  }

  // Sets the map on all markers in the array.
  function setMapOnAll(map) {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(map);
    }
  }

  // Removes the markers from the map, but keeps them in the array.
  function clearMarkers() {
    setMapOnAll(null);
  }

  // Shows any markers currently in the array.
  function showMarkers() {
    setMapOnAll(map);
  }

  // Deletes all markers in the array by removing references to them.
  function deleteMarkers() {
    clearMarkers();
    markers = [];
  }



  // Sets the map on all markers in the array.
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(map);
  }
  // Removes the markers from the map, but keeps them in the array.
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(null);
  }
  // Deletes all markers in the array by removing references to them.
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(null);
  }
  markers = [];
  var renksayaci = 0;
      var markers = [];
      var flightPlanCoordinates = [];
      const myLatLng = { lat: -25.363, lng: 131.044 };
      var flightPlanCoordinates = []
      var renkler = ['#e61919', "#478ccc", "#ff7f00", "#003153", "#b87333", "#01796f", "#682860", "#fba0e3"]
      var map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 59.42190595212989, lng: 17.822133881640568 },
        zoom: 10
      });

      
    

      {% for araba in araclar %}
      var randomColor = getRandomColor();
      console.log(randomColor)

      {% for item in araba.ozellikler %}

      var marker = new google.maps.Marker({
        position: { lat: {{ araba.x }} , lng: {{ araba.y }} },
    animation: google.maps.Animation.DROP,
      map,
      label: " {{araba.id}}",
        description: "Bilgi"
          });
    marker.description = new google.maps.InfoWindow({
      content: " {{araba.date}}"
    });
    google.maps.event.addListener(marker, 'click', function () {
      this.description.setPosition(this.getPosition());
      this.description.open(map); //map to display on
    });
    markers.push(marker);


    flightPlanCoordinates.push(
      { 'lat': {{ araba.x }} , 'lng': {{ araba.y }}}
    )